---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

#sidebar #avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 35%;
}

/* Series navigation */
.series-nav {
  background-color: var(--card-bg) !important;
  border-color: var(--btn-border-color);

  .btn-outline-primary {
    --bs-btn-color: var(--link-color);
    --bs-btn-border-color: var(--link-color);
    --bs-btn-hover-bg: var(--link-color);
    --bs-btn-hover-border-color: var(--link-color);
    --bs-btn-active-bg: var(--link-color);
    --bs-btn-active-border-color: var(--link-color);
  }
}
